/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Raleway',
  sans-serif;
  color:#202020;
  /*  #505962; */
}

.offset:before {
  display: block;
  content: "";
  height: 3rem;
  margin-top: -3rem;
}

.heading-underline {
  width: 3rem;
  height: 0.15rem;
  background-color: #04c2c9;
  margin: 0rem auto 1rem;

}

/* Navigation 
***************************************************************/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  background: rgba(0, 0, 0, 0.801) !important;
   border-bottom: 2px solid #04c2c9;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #cc005f;
}

/* Intro 
***************************************************************/

.home-inner {
  background-image: url(img/cover.png);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
}
  .caption h1 {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
    /* font-family: 'Lora', serif; */
    font-family: 'Raleway',
    sans-serif;
    text-transform: capitalize;
  }
.colorName {
  color: #cc005f;
  font-weight: bolder;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 0.7rem;
  margin-top: 0.8rem;
  line-height: 1;
  padding: 0.4rem 0.8rem;
}

.bars span {
  font-size: 0.75rem;
  display: inline-block;
}
.bars span::after {
  content: "|";
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  color: #cc005f;
}
.bars span::before{
  content: "|";
  display: inline-block;
  padding: 0 0.5rem 0 1rem;
  color: #04c2c9;
}

/* About section 
***************************************************************/

.about {
  width: 75%;
  margin: 3rem auto;
  /* padding-top: 2rem; */
}

  .about img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    /* float: left; */
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .about h1 {
    font-size: 2.4rem;
  }
  .about h4 {
    text-transform: uppercase;
    color: #cc005f;
  }
  .about h3{
    font-size: 1.2rem;
    color: #cc005f;
    font-weight: 400;
  }
  .lead {
    font-size: 1.1rem;
  }

.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: .1rem;
}

  .about-content .info-list li strong {
    text-transform: uppercase;
    letter-spacing: .08rem;
    line-height: 2rem;
    font-size: 0.9rem;
  }

  .about-content .info-list li span {
    display: block;
    color: #04c2c9;
    line-height: 1;
  }

ul {
  list-style-type: none;
}


/**
 * skillbars 
 * ------------------------------
 */
.skill-bars {
  list-style: none;
  margin: 3rem 0 3rem;
}

  .skill-bars li {
    height: .9rem;  
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 0;
    position: relative;
  }

    .skill-bars li strong {
      position: absolute;
      left: 0;
      top: -1.3rem;
      text-transform: uppercase;
      letter-spacing: .08rem;
      line-height: 1rem;
      font-size: 0.9rem;
    }

    .skill-bars li .progress {
      background: #40474e;
      position: relative;
      height: 100%;
    }
    .skill-bars li span {
      font-size: 0.65rem;
    }

    .skill-bars li .percent5 { width: 5%;}
    .skill-bars li .percent10 { width: 10%;}
    .skill-bars li .percent15 { width: 15%;}
    .skill-bars li .percent20 { width: 20%;}
    .skill-bars li .percent25 { width: 25%;}
    .skill-bars li .percent30 { width: 30%;}
    .skill-bars li .percent35 { width: 35%;}
    .skill-bars li .percent40 { width: 40%;}
    .skill-bars li .percent45 { width: 45%;}
    .skill-bars li .percent50 { width: 50%;}
    .skill-bars li .percent55 { width: 55%;}
    .skill-bars li .percent60 { width: 60%;}
    .skill-bars li .percent65 { width: 65%;}
    .skill-bars li .percent70 { width: 70%;}
    .skill-bars li .percent75 { width: 75%;}
    .skill-bars li .percent80 {  width: 80%;}
    .skill-bars li .percent85 { width: 85%;}
    .skill-bars li .percent90 { width: 90%;}
    .skill-bars li .percent95 { width: 95%;}
    .skill-bars li .percent100 { width: 100%;}


/* Experiences section 
****************************************************************/

 .exper {
  background: #40474e;
  color: white;
}
  .exper h3 {
    font-size: 1.3rem;
    margin: -0.5rem auto;
    color: #000000;
    font-weight: 600;
  }
  .exper .icon {
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
  .exper p {
    color: #e2dfdf;
    font-size: 0.95rem;
  }

.exper .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  height: 14.5rem;
}

.carousel-indicators li {
  background-color: #04c2c981;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto 0.4rem;
}
.carousel-indicators .active {
   background-color: #cc005f;
 }

/* Projects section 
****************************************************************/

.projectss {
  margin: 1.5rem auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
} 

.projectss .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  /* display: block; */
  height: 415px;
}
.projectss h3 {
  font-size: 1.3rem;
  color: #000000;
  font-weight: 600;
  margin-top: 6rem;
}
h2.heading {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.projectss h4 {
  font-size: 1rem;
  color: #cc005f;
}
.projectss .btn-lg {
  border-radius: 0;
  font-size: 0.7rem;
  margin-top: 2rem;
  line-height: 1;
  padding: 0.4rem 0.8rem;
  background: #fff;
  border: 2px solid #cc005f;
  text-transform: uppercase;
  color: #ffff
}

.projectss .btn-lg:hover,
.projectss .btn-lg:focus {
  background: #FF0077;
  border: 2px solid #ffff;
}

.container2 {
  position: relative;
  width: 100%;
  max-width: 280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  width: 220px;
  opacity: 0;
  transition: .7s ease;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.jumbotron {
  /* margin-bottom: 0; */
  padding: 1rem 0 1rem;
  /* border-radius: 0; */
}

.modal-title {
  color: #cc005f;
  font-weight: 900;
}




/* Services 
***************************************************************/

.serv {
  margin-bottom: 2rem;
}
.serv h5 {
    color: #cc005f;
    margin-top: 1rem;
  }


/*Contact section and footer
***************************************************************/
hr.socket {
  width: 100%;
  border-top: 0.1rem solid #04c2c9;
  margin-bottom: -0.03rem;
}

footer {
  background-color: #40474e;
  color: white;
  margin-top: 0.1rem;
  padding-top: 2rem;

}
  footer p {
    color: #bcbaba;
    font-size: 0.9rem;
  }
  footer h5 {
    color: black;
    font-weight: 600;
  }
  footer .icon {
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
  footer .copyright span {
    font-size: 0.7rem;
    display: inline-block;
    color: #bcbaba;
  }
  footer .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    color: rgba(255, 255, 255, 0.1);
  }
  footer .copyright span:last-child::after {
    display: none;
  }

  
/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:768px) {
  footer {
    text-align: center;
  }

  footer .social {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  footer .copyright span {
    display: block;
  }

  footer .copyright span::after {
    display: none;
  }
}


/**
 * got-top 
 * ------------------------------------------------------------------- 
 */
 #go-top {
   position: fixed;
   bottom: 0;
   right: 0;
   z-index: 100;
 }
  #go-top a {
    border: 0 none;
    display: block;
    height: 3.6rem;
    width: 2.9rem;
    text-align: center;
    background: #cc005f;
    color: #FFFFFF;
  }
    #go-top a img {
        margin-top: 1.2rem;
    }
    #go-top a:hover {
      background: #04c2c9;
      /*  #000000; */
    }

/**************** BOOTSTRAP BREAK POINTS: ****************/    

@media (min-width: 576px) {
  .caption h1 {
      font-size: 2.2rem;
    }
  .bars span {
    font-size: 0.8rem;
  }
  .btn-lg {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 0.6rem 0.9rem;
  }
  .projectss .btn-lg {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 0.6rem 0.9rem;
  }
  .about img {
    display: block;
    margin-left: auto;
    margin-right: auto
    
  }
}    

@media (min-width: 768px) {
  .caption h1 {
    font-size: 2.5rem;
  }
  h2.heading {
    font-size: 1.9rem;
  } 
  .about h3 {
    font-size: 1.5rem;
  }
  .lead {
     font-size: 1.2rem;
  }
  .projectss .btn-lg {
    font-size: 1rem;
    line-height: 1.2;
    /* padding: 0.8rem 1rem; */

  }
  .exper h3 {
    font-size: 1.4rem;
  }
  .exper p {
  font-size: 1rem;
  }
}
