/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Raleway',
  sans-serif;
  color:#202020;
}

.offset:before {
  display: block;
  content: "";
  height: 3rem;
  margin-top: -3rem;
}

.heading-underline {
  width: 3rem;
  height: 0.15rem;
  background-color: #04c2c9;
  margin: 0rem auto 1rem;

}

/* Navigation 
***************************************************************/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  background: rgba(0, 0, 0, 0.801) !important;
  border-bottom: 2px solid #04c2c9;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #cc005f;
}

/* Intro 
***************************************************************/

.home-inner {
  background-image: url(img/cover.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
}
  .caption h1 {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
    /* font-family: 'Lora', serif; */
    font-family: 'Raleway',
    sans-serif;
    text-transform: capitalize;
  }
.colorName {
  color: #cc005f;
  font-weight: bolder;
}

.tat::after {
  content: '!';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 0.7rem;
  margin-top: 0.8rem;
  line-height: 1;
  padding: 0.4rem 0.8rem;
}

.bars span {
  font-size: 0.75rem;
  display: inline-block;
}
.bars span::after {
  content: "|";
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  color: #cc005f;
}
.bars span::before{
  content: "|";
  display: inline-block;
  padding: 0 0.5rem 0 1rem;
  color: #04c2c9;
}

/* About section 
***************************************************************/

.about {
  margin: 3rem auto;
}
  .about h1 {
    font-size: 2.4rem;
  }
  .about h4 {
    text-transform: uppercase;
    color: #cc005f;
  }
  .about h3{
    font-size: 1.2rem;
    color: #cc005f;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: -0.7rem;
  }
.lead {
    font-size: 1.1rem;
}

.marg {
  text-align: center;
}

.imageP {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.about-content p {
  margin-bottom: -0.1rem;
}
  .about-content p strong {
    text-transform: uppercase;
    letter-spacing: .08rem;
    line-height: 2rem;
    font-size: 0.9rem;
  }

  .about-content span {
    display: block;
    color: #04c2c9;
    line-height: 1;
    margin-bottom: 0.5rem;
  }


/**
 * skillbars 
 * ------------------------------
 */
hr.socket1 {
   margin-bottom: -0.7rem;
   width: 9rem;
   height: 0.11rem;
   background-color: #414549;
 }


.skill-bars {
  list-style: none;
  margin: 3rem 0 0 0;
  padding-left: 0;
  
}

  .skill-bars li {
    height: 1.2rem;  
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 2.4rem;
    /* padding: 0;  */
    position: relative;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }

    .skill-bars li strong {
      position: absolute;
      left: 0;
      top: -1.3rem;
      text-transform: uppercase;
      letter-spacing: .08rem;
      line-height: 1rem;
      font-size: 0.7rem;
    }

    .skill-bars li .progress {
      /* background: #c43276f3; */
      /* #40474e; */
      position: relative;
      height: 100%;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      background-color: rgb(196, 50, 118);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4); /* Cria um efeito 3D */
    }

    .skill-bars li span {
      font-size: 0.75rem;
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
    }

    .skill-bars li .percent5 { width: 5%;}
    .skill-bars li .percent10 { width: 10%;}
    .skill-bars li .percent15 { width: 15%;}
    .skill-bars li .percent20 { width: 20%;}
    .skill-bars li .percent25 { width: 25%;}
    .skill-bars li .percent30 { width: 30%;}
    .skill-bars li .percent35 { width: 35%;}
    .skill-bars li .percent40 { width: 40%;}
    .skill-bars li .percent45 { width: 45%;}
    .skill-bars li .percent50 { width: 50%;}
    .skill-bars li .percent55 { width: 55%;}
    .skill-bars li .percent60 { width: 60%;}
    .skill-bars li .percent65 { width: 65%;}
    .skill-bars li .percent70 { width: 70%;}
    .skill-bars li .percent75 { width: 75%;}
    .skill-bars li .percent80 {  width: 80%;}
    .skill-bars li .percent85 { width: 85%;}
    .skill-bars li .percent90 { width: 90%;}
    .skill-bars li .percent95 { width: 95%;}
    .skill-bars li .percent100 { width: 100%;}


/* Experiences section 
****************************************************************/

 .exper {
  background: #40474e;
  color: #FFFFFF
}
  .exper h3 {
    font-size: 1.3rem;
    margin: -0.5rem auto;
    color: #000000;
    font-weight: 600;
  }
  .exper .icon {
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
  .exper p {
    color: #e2dfdf;
    font-size: 0.95rem;
  }
.padding-z {
  padding: 0.1rem;
}
.carousel-cell {
  width: 100%;
  height: 220px;
}

/* Projects section 
****************************************************************/

.projectss {
  margin: 1.5rem auto;
}
.projectss .card {
  border: none;
}

.projectss .card-img-top {
  border: none;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
} 

.projectss .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  /* display: block; */
  height: 415px;
}
.projectss h3 {
  font-size: 1.3rem;
  color: #04c2c9;
  font-weight: 600;
  margin-top: 3rem;
}
h2.heading {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.projectss h4 {
  font-size: 1rem;
  color: #FFFFFF;
}
.projectss .btn-sm {
  border-radius: 0;
  font-size: 0.7rem;
  margin-top: 1rem;
  line-height: 1;
  /* padding: 0.3rem 0.5rem; */
  background: rgba(255, 255, 255, 0.877);
  border: 2px solid #cc005f;
  text-transform: uppercase;
  color: #FFFFFF;
}

.projectss .btn-sm:hover,
.projectss .btn-sm:focus {
  background: #FF0077;
  border: 2px solid #FFFFFF;
}

.container2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto
}
.projectss figure {
  margin: 0;
  border: none;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 1.5s ease;
  background-color: rgba(36, 35, 35, 0.822);
  margin-left: auto;
  margin-right: auto;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.jumbotron {
  padding: 1rem 0 1rem;
  margin-bottom: auto;
}
.modal-title {
  color: #cc005f;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.07rem;
}

.modal-header {
  padding: 0.5rem 1rem 0.5rem 
}
.colorM {
  color: rgba(255, 255, 255, 0.925);
  font-weight: 100;
  font-size: .8rem;
}
.colorS {
  color: #FFFFFF
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.87);
}

.modal-personalizado {
  min-width: 90%; /* aqui vc pega a percentagem da sua tela */
  margin-top: 20%; 
}

.modal-personalizado img {
  width: 100%;
}

/* Services 
***************************************************************/

.serv {
  margin-bottom: 2rem;
}
.serv h5 {
    color: #cc005f;
    margin-top: 1rem;
  }
.paddingg {
  padding: 0 1.2rem 0 1.3rem;
}



/*Contact section and footer
***************************************************************/
hr.socket {
  width: 100%;
  border-top: 0.1rem solid #04c2c9;
  margin-bottom: -0.4rem;
}

footer {
  text-align: center;
  background-color: #40474e;
  color: #FFFFFF;
  margin-top: 0.1rem;
  padding-top: 2rem;

}
  footer h2.heading {
    margin-bottom: 1rem;
  }
  footer p {
    color: #d4d3d3;
    font-size: 0.9rem;
  }
  footer h5 {
    color: #000000;
    font-weight: 600;
  }
  
  footer .icon {
    margin-top: -1rem;
    padding-bottom: 0.5rem;
  }

  footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem 0.1rem 1.2rem 0;
    color: #d4d3d3;

  }

  footer svg.svg-inline--fa:hover {
    color:  #cc005f !important;
  }

  footer .copyright span {
    font-size: 0.7rem;
    display: block;
    color: #cccaca;
  }
  footer .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    color: #cc005f;
  }
  footer .copyright span:last-child::after {
    display: none;
  }

  footer .copyright span::after {
    display: none;
  }
  
  footer h6 {
    color: #000000;
    font-weight: 600;
    margin-bottom: -0.5rem;
  }

/**
 * got-top 
 * ------------------------------------------------------------------- 
 */

  .go-top {
    height: 2.6rem;
    width: 2.6rem;
    text-align: center;
    margin: 0.3rem; 
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 100;

  }
    .go-top svg.svg-inline--fa {
      margin: 0 0 -1rem 0;
      color: #FF0077;
    }
    .go-top svg.svg-inline--fa:hover {
      color: #04c2c9 !important;
      /* #04c2c9a8; */
    }

/**************** BOOTSTRAP BREAK POINTS: ****************/    

@media (min-width: 576px) {
  .caption h1 {
      font-size: 2.2rem;
    }
  .bars span {
    font-size: 0.8rem;
  }
  .btn-lg {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 0.6rem 0.9rem;
  }
  .about {
    width: 75%;
  }
  .skill-bars {
    padding: 0 1rem 0 1rem;
  }
  .carousel-cell {
    height: 190px;
  }
  .projectss .btn-sm {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 0.6rem 0.9rem;
  }
  .projectss h3 {
    margin-top: 1.5rem;
  }
  
  .modal-personalizado {
    margin-top: 20px;
  }
 
  .modal-title {
    font-size: 1.3rem;
  }
  .colorM {
    font-size: 1rem;
  }
  /* .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
  } */

  .marg {
    margin-top: 2rem;
  }  
  footer h6 {
    margin-top: 1rem;
  }


}    

@media (min-width: 768px) {
  .caption h1 {
    font-size: 2.5rem;
  }
  h2.heading {
    font-size: 1.9rem;
  } 
  .about h3 {
    font-size: 1.4rem;
  }
  .lead {
     font-size: 1.2rem;
  }
   .skill-bars li strong {
     font-size: .9rem;
   }   
  .projectss .btn-sm {
    font-size: 0.9rem;
    line-height: 1.1;
    /* padding: 0.8rem 1rem; */
  }
  .projectss h3 {
    margin-top: 3rem;
  }
  .exper h3 {
    font-size: 1.4rem;
  }
  .exper p {
  font-size: 1rem;
  }
  .paddingg {
    padding: 0 5rem 0 5rem;
  }
  .modal-personalizado img {
    width: 80vh;
  }
  footer {
    text-align: left;
  }
  footer .copyright span {
    display: inline;
  }
  footer .copyright span::after {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .projectss h3 {
     margin-top: 7rem;
  }
  .modal-personalizado img {
    width: 110vh;
  }
}  

